@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
  background-color: hsl(30, 38%, 92%);
}

main {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  margin: 10px;
}

.left {
  display: flex;
  width: 50%;
  background-image: url('images/image-product-desktop.jpg');
  background-size: cover;
  border-radius: 20px 0 0 20px; 
}

.right {
  display: flex;
  flex-direction: column;
  margin: 60px;
  width: 35%;
  gap: 30px;
}

h1 {
  font-family: Fraunces;
  font-size: 40px;
}

h6 {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
}

p {
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
  font-size: 14px;
  line-height: 30px;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.discount {
  font-family: Fraunces;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.regular {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: hsl(158, 36%, 37%);
  font-family: Montserrat;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 55%, 16%);
}

button img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 375px) {
  main {
    width: 375px;
  }

  .card {
    margin-top: 10px;
    flex-direction: column;
    width: 90%;
  }

  .left {
    height: 220px;
    width: 100%;
    background-image: url('images/image-product-mobile.jpg');
    border-radius: 20px 20px 0 0;
  }

  .right {
    width: 90%;
    margin: 20px;
    gap: 15px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    line-height: 20px;
  }

  button {
    width: 90%;
    margin-bottom: 20px;
  }
}
